@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
}
body, table, form{
	font-family: verdana, arial, serif;
	font-size: 10pt;
	color: #555;
}
#wrapper{
	width: 970px;
	max-width: 970px;
	margin: 0 auto;
}
#main_menu{
	padding: 10px 0;
}

/* MESSAGES STYLES */
div.message, div.info_message, div.error_message{
	text-align: center;
	padding: 10px 0;
	margin: 10px 0;
	background: #efefef;
}
div.message, div.info_message{
	border: 1px solid #555;
	color: #444;
}
div.error_message{
	border: 1px solid #700;
	color: #700;
}
